.project {
    display: flex;
    align-items: center;
    flex-direction: row;
    outline: 3px dashed lime;
    margin: 102px 0;
    padding: 30px 27px;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

    .slider {
        width: 778.7px;
        height: 380px;
        background-color: black;
        text-align: center;
        overflow: hidden;
        border: 8px solid black;
        outline: 3px dashed lime;
        transition: transform 330ms;

        &:hover {
            transform: scale(0.985);
        }
    }
        .project-image-cont {
            position: relative;
            width: 3895px;
            height: 380px;
            clear: both;
            background: rgba(0, 255, 0, 0.7);
            transition: transform 700ms;
            transform: translate(0);
        }
            .project-image {
                height: 380px;
                transition: transform 330ms;
                border: 8px solid black;
                outline: 3px dashed lime;

                &:hover {
                    transform: scale(0.985);
                }
            }
            .project-image-slide {
                position: relative;
                width: 779px;
                float: left;
                border: none;
                outline: none;
                transition: none;

                &:hover {
                    transform: none;
                }
            }
            
            .slide-4-notes {
                width: 710px;
                padding-left: 34.5px;
                padding-right: 34.5px;
            }
        
        .slide-buttons-cont {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 794.7px;
            gap: 30px;
            z-index: 1000;
            margin-top: -17px;
        }

            .slide-button {
                position: relative;
                width: 40px;
                height: 40px;
                font-size: 1.2rem;
                font-family: inherit;
                background: black;
                color: lime;
                border-radius: 50%;
                border: none;
                border: 2px solid lime;
                box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.635);
                transition: transform 330ms, box-shadow 330ms;
                box-sizing: border-box;

                &::before {
                    content: '';
                    position: absolute;
                    height: 40px; 
                    width: 40px; 
                    border-radius: inherit;
                    left: 0;
                    top: 0;
                    box-sizing: border-box;
                }
                
                &:hover {
                    border: none;
                    transform: scale(1.1);
                    box-shadow: 0 0 20px 5px lime;
                    animation: glow-slide-button 0.7s ease-in-out infinite alternate, glow-shadow-slide-button 0.7s ease-in-out 330ms infinite alternate;

                    &::before {
                        border: 3px dashed lime;
                        animation: spin-slide-button 6s linear infinite;  
                    }
                }
                @keyframes spin-slide-button { 
                    100% { 
                        transform: rotateZ(360deg); 
                    }
                }
                @keyframes glow-slide-button {
                    from {
                        text-shadow: 0 0 5px lime, 0 0 10px lime, 0 0 15px lime, 0 0 20px lime, 0 0 25px lime, 0 0 30px lime, 0 0 35px lime;
                    }
                    to {
                        text-shadow: 0 0 7px lime, 0 0 14px lime, 0 0 21px lime, 0 0 28px lime, 0 0 35px lime, 0 0 42px lime, 0 0 49px lime;
                    }
                }
                @keyframes glow-shadow-slide-button {
                    from {
                        box-shadow: 0 0 20px 5px lime;
                    }
                    to {
                        box-shadow: 0 0 20px 9px lime;
                    }
                }
            }

    .project-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        padding-bottom: 43px;
        background: black;
        outline: 3px dashed lime;
    }
    .project-info-slide {
        width: 611px;
    }

        .project-heading {
            margin: 0;
            font-size: 43px;
        }

        .project-stack {
            margin-top: 5px;
            margin-bottom: 15px;
            font-size: 21px;
        }

        .project-description {
            margin-top: 0;
            font-size: 20px;
            text-align: center;
        }

        .project-lives__cont {
            margin-top: 30px;
            font-size: 28px;
        }
            .project-live {
                padding: 10px;
                border: 3px dashed lime;

                &:hover {
                    padding: 12.4px;
                    border: none;
                    background-image: linear-gradient(90deg, lime 60%, transparent 40%), linear-gradient(90deg, lime 60%, transparent 40%), linear-gradient(0deg, lime 60%, transparent 40%), linear-gradient(0deg, lime 60%, transparent 40%);
                    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
                    background-size: 10px 3px, 10px 3px, 3px 10px, 3px 10px;
                    background-position: left top, right bottom, left bottom, right top;
                    animation: border-dance 0.3s infinite linear, glow 0.7s ease-in-out infinite alternate;
                }
                    @keyframes border-dance {
                        0% {
                            background-position: left top, right bottom, left bottom, right top;
                        }
                        100% {
                            background-position: left 10px top, right 10px bottom , left bottom 10px , right top 10px;
                        }
                    }

                    @keyframes glow {
                        from {
                            text-shadow: 0 0 5px lime, 0 0 10px lime, 0 0 15px lime, 0 0 20px lime, 0 0 35px lime, 0 0 40px lime, 0 0 45px lime;
                        }
                        to {
                            text-shadow: 0 0 30px lime, 0 0 40px lime, 0 0 50px lime, 0 0 60px lime, 0 0 70px lime, 0 0 80px lime, 0 0 90px lime;
                        }
                    }
            }

            #project-live-1 {
                margin-right: 30px;

                &::before {
                    content: '>>';
                    position: absolute;
                    font-size: 50px;
                    margin-top: -1rem;
                    margin-left: -4rem;
                    letter-spacing: -7px;
                    transform: scaleX(0);
                    transition: transform 250ms ease-in-out;
                    transform-origin: 100% 50%;
                }
    
                &:hover::before {
                    transform: scaleX(1);
                    transform-origin: 0% 50%;
                }
            }

            #project-live-2 {

                &::after {
                    content: '<<';
                    position: absolute;
                    font-size: 50px;
                    margin-top: -1rem;
                    margin-left: 1rem;
                    letter-spacing: -7px;
                    transform: scaleX(0);
                    transition: transform 250ms ease-in-out;
                    transform-origin: 0% 50%;
                }
    
                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: 100% 50%;
                }
            }


.project-left {
    background: repeating-linear-gradient(
        45deg,
        lime,
        lime 2px,
        transparent 3px,
        transparent 80px
    );

    .project-info {
        margin-right: 0;
        margin-left: 27px;
    }
}

.project-right {
    background: repeating-linear-gradient(
        135deg,
        lime,
        lime 2px,
        transparent 3px,
        transparent 80px
    );

    .project-info {
        margin-right: 27px;
        margin-left: 0;
    }
}
