.project {
    display: flex;
    align-items: center;
    flex-direction: row;
    outline: 2px dashed lime;
    margin: 102px 0;
    padding: 30px 27px;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

    .project-image {
        height: 380px;
        border: 8px solid black;
        outline: 2px dashed lime;
    }

    .project-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        padding-bottom: 43px;
        background: black;
        outline: 2px dashed lime;
    }
        .project-heading {
            margin: 0;
            font-size: 43px;
        }

        .project-stack {
            margin-top: 5px;
            margin-bottom: 15px;
            font-size: 21px;
        }

        .project-description {
            margin-top: 0;
            font-size: 20px;
            text-align: center;
        }

        .project-lives__cont {
            margin-top: 30px;
            font-size: 28px;
        }
            .project-live {
                padding: 10px;
                color: lime;
                outline: 3px dashed lime;
                text-decoration: none;
            }

            #project-live-1 {
                margin-right: 30px;
            }

.project-left {
    background: repeating-linear-gradient(
        45deg,
        lime,
        lime 2px,
        black 4px,
        black 15px
    );

    .project-info {
        margin-right: 0;
        margin-left: 27px;
    }
}

.project-right {
    background: repeating-linear-gradient(
        135deg,
        lime,
        lime 2px,
        black 4px,
        black 15px
    );

    .project-info {
        margin-right: 27px;
        margin-left: 0;
    }
}
