#about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    font-size: 16px;

    @media (min-width: 2000px) {
        font-size: 21px;
    }
    @media (max-width: 1500px) {
        font-size: 15.5px;
    }
    @media (max-width: 1460px) {
        font-size: 15px;
    }
    @media (max-width: 1400px) {
        font-size: 14.2px;
    }
    @media (max-width: 1350px) {
        font-size: 13.5px;
    }
    @media (max-width: 1300px) {
        font-size: 12px;
        flex-direction: column;
    }
    @media (max-width: 650px) {
        font-size: 10px;
    }
    @media (max-width: 540px) {
        font-size: 8px;
    }
    @media (max-width: 425px) {
        font-size: 7.5px;
    }
    @media (max-width: 393px) {
        font-size: 7.25px;
    }
    @media (max-width: 375px) {
        font-size: 6.5px;
    }
    @media (max-width: 345px) {
        font-size: 6.2px;
    }
}

    .skill-cont-wrapper {
        @media (max-width: 1300px) {
            display: flex;
            gap: 3em;
            margin-top: 5em;
        }
    }
        .skill-cont {
            display: flex;
            flex-direction: column;
            gap: 4.375em;
            height: 100%;
            width: fit-content;

            @media (max-width: 1350px) {
                &:first-child {
                    margin-right: -20px;
                }
                &:last-child {
                    margin-left: -20px;
                }
            }
            @media (max-width: 1300px) {
                &:first-child, &:last-child {
                    margin: 0;
                }
            }
        }
            .skill-item {
                display: flex;
                align-items: center;
                height: 4.375em;
                width: 22.813em;
                overflow: visible;
                background-color: #000000;
                background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='35' ry='35' stroke='lime' stroke-width='4' stroke-dasharray='20%2c 11' stroke-dashoffset='29' stroke-linecap='square'/%3e%3c/svg%3e");
                border-radius: 999999px;
                box-sizing: border-box;
                transition: transform 0.8s, opacity 0.8s;
                opacity: 0;

                img {
                    height: 70%;
                }

                p {
                    margin: 0 auto;
                    font-size: 1.563em;

                    @media (max-width: 650px) {
                        font-weight: bold;
                    }
                }

                &.col-1 {
                    transform: translateX(-30em);

                    &.about__fade-in {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }

                &.col-2 {
                    transform: translateX(30em);

                    &.about__fade-in {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }

                &-1st {
                    transition-delay: 0.5s;
                }
                &-2nd {
                    transition-delay: 0.7s;
                }
                &-3rd {
                    transition-delay: 0.9s;
                }
                &-4th {
                    transition-delay: 1.1s;
                }

                @media (min-width: 2000px) {
                    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='48' ry='48' stroke='lime' stroke-width='4' stroke-dasharray='20%2c 11' stroke-dashoffset='29' stroke-linecap='square'/%3e%3c/svg%3e");
                }
                @media (max-width: 1438px) {
                    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='33' ry='33' stroke='lime' stroke-width='4' stroke-dasharray='20%2c 11' stroke-dashoffset='29' stroke-linecap='square'/%3e%3c/svg%3e");
                }
                @media (max-width: 1300px) {
                    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='lime' stroke-width='3' stroke-dasharray='18%2c 10' stroke-dashoffset='40' stroke-linecap='square'/%3e%3c/svg%3e");
                }
                @media (max-width: 650px) {
                    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='23' ry='23' stroke='lime' stroke-width='3' stroke-dasharray='15%2c 9' stroke-dashoffset='29' stroke-linecap='square'/%3e%3c/svg%3e");
                }
                @media (max-width: 540px) {
                    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='17' ry='17' stroke='lime' stroke-width='3' stroke-dasharray='15%2c 9' stroke-dashoffset='29' stroke-linecap='square'/%3e%3c/svg%3e");
                }
                @media (max-width: 425px) {
                    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='lime' stroke-width='2' stroke-dasharray='15%2c 9' stroke-dashoffset='29' stroke-linecap='square'/%3e%3c/svg%3e");
                }
                @media (max-width: 345px) {
                    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='lime' stroke-width='2' stroke-dasharray='15%2c 9' stroke-dashoffset='29' stroke-linecap='square'/%3e%3c/svg%3e");
                }
            }   

                #javascript-skill {
                    p {
                        font-size: 1.5em;
                    }

                    img:first-child {
                        margin-left: 1.125em;
                        border-radius: .375em;
                    }
                    img:last-child {
                        margin-right: 1.125em;
                        border-radius: .375em;
                    }
                }

                #html-skill img {
                    &:first-child {
                        margin-top: .1563em;
                        margin-left: 1.125em;
                    }
                    &:last-child {
                        margin-top: .1563em;
                        margin-right: 1.125em;
                    }
                }

                #css-skill {
                    img {
                        &:first-child {
                            margin-top: .1563em;
                            margin-left: 1.125em;
                        }
                        &:last-child {
                            margin-right: .5625em;
                        }
                    }

                    p {
                        margin-right: .72em;
                    }

                }

                #react-skill img {
                    &:first-child {
                        margin-left: .4375em;
                    }
                    &:last-child {
                        margin-right: .4375em;
                    }
                }

                #csharp-skill img {
                    &:first-child {
                        margin-left: .6875em;
                    }
                    &:last-child {
                        margin-right: .6875em;
                    }
                }

                #python-skill img {
                    &:first-child {
                        margin-left: .5313em;
                    }
                    &:last-child {
                        margin-right: .5313em;
                    }
                }
                
                #git-skill img {
                    &:first-child {
                        margin-left: .5em;
                    }
                    &:last-child {
                        margin-right: .5em;
                    }
                }

                #nodejs-skill img {
                    &:first-child {
                        margin-left: .6563em;
                    }
                    &:last-child {
                        margin-right: .6563em;
                    }
                }

    #profile-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
    }

    #profile-icons-cont {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3.125em;
        z-index: 1;
        transform: translateY(-15em);
        opacity: 0;
        transition: all 1.2s;
        scale: 0.95;

        &.about__fade-in {
            transform: translateY(0);
            opacity: 1;
        }

        @media (max-width: 1300px) {
            scale: 1.15;
            margin-top: 3.9em;
            margin-bottom: 1.2em;
        }
    }
        
        #profile-grid {
            position: absolute;
            height: 18.125em;
            width: 18.125em;
            z-index: -1;
            background-size: 1.4375em 1.4375em;

            background-position: center;
            background-image:
                linear-gradient(to right, lime .0625em, transparent .0625em),
                linear-gradient(to bottom, lime .0625em, transparent .0625em);
            border-radius: 50%;

            @media (max-width: 650px) {
                background-image:
                    linear-gradient(to right, lime 0.5px, transparent 1px),
                    linear-gradient(to bottom, lime 0.5px, transparent 1px);
            }
            @media (max-width: 426px) {
                background-image:
                    linear-gradient(to right, lime 0.1px, transparent 1px),
                    linear-gradient(to bottom, lime 0.1px, transparent 1px);
            }
        }
    
        #profile-user-icon-wrapper {
            height: 11.25em;
            width: 11.25em;
            padding-bottom: 1.6875em;
            overflow: visible
        }
            #profile-user-icon {
                fill: black;
                stroke: lime;
                stroke-width: 5px;
                stroke-dasharray: 40, 11;
            }

    #profile-text {
        position: relative;
        margin-top: 3.9375em;
        margin-bottom: 0;
        width: 31.4em;
        font-size: 1.2em;
        line-height: 1.5em;
        text-align: justify;
        hyphens: auto;
        background-color: black;
        border-radius: 0.8em;
        transform: translateY(15em);
        opacity: 0;
        transition: all 1.2s;

        &.about__fade-in {
            transform: translateY(0);
            opacity: 1;
        }

        @media (max-width: 1300px) {
            font-size: 1.5em;
        }
    }



