.home-area {
    position: relative;
    height: 100dvh;
    width: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0);
    pointer-events: none;
}

#home-cont {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;
    top: 0;
    z-index: 2;
}
    #home-content {
        display: flex;
        width: fit-content;
        flex-direction: column;
        align-items: center;
    } 

    #particles-home {
        position: absolute;
        top: 0;
        height: 100dvh;
        width: 100%;
        z-index: 1;
        transition: opacity 4s;
        opacity: 0;

        &.home__fade-in {
            opacity: 1;
        }
    }

    .home-heading {
        font-size: 3.6rem;
        margin: 0;
        z-index: 2;
        text-shadow:
            -2px -2px 0 rgba(0, 0, 0, 0.500),
            0   -2px 0 rgba(0, 0, 0, 0.500),
            2px -2px 0 rgba(0, 0, 0, 0.500),
            2px  0   0 rgba(0, 0, 0, 0.500),
            2px  2px 0 rgba(0, 0, 0, 0.500),
            0    2px 0 rgba(0, 0, 0, 0.500),
            -2px  2px 0 rgba(0, 0, 0, 0.500),
            -2px  0   0 rgba(0, 0, 0, 0.500);
    }
        #home-heading__line-1 { /* Slide in/typing animation? */
            margin-right: 15.625rem;
            margin-bottom: 6px;
            transition: opacity 1.4s, transform 1.4s;
            transform: translateX(-10rem);
            opacity: 0;
    
            &.home__fade-in {
                transform: translateX(0);
                opacity: 1;
            }
        }

        #home-heading__line-2 {
            margin-left: 15.625rem;
            transition: opacity 1.4s, transform 1.4s;
            transform: translateX(8rem);
            opacity: 0;

            &.home__fade-in {
                transform: translateX(0);
                opacity: 1;
            }
        }
    
    #home-cta {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        padding: 12px 17px;
        font-size: 30px;
        margin-top: 32px;
        z-index: 2;

        color: inherit;
        font-family: inherit;
        border: 2px solid lime;
        background: rgba(0, 0, 0, 0.655);
        text-shadow:
            -1px -1px 0 rgba(0, 0, 0, 1),
            0   -1px 0 rgba(0, 0, 0, 1),
            1px -1px 0 rgba(0, 0, 0, 1),
            1px  0   0 rgba(0, 0, 0, 1),
            1px  1px 0 rgba(0, 0, 0, 1),
            0    1px 0 rgba(0, 0, 0, 1),
            -1px  1px 0 rgb(32, 9, 9),
            -1px  0   0 rgba(0, 0, 0, 1);

        opacity: 0;
        transform: translateY(5rem);
        transition: text-shadow 330ms, opacity 1.4s, transform 1.4s;
        transition-delay: 700ms;
        box-sizing: border-box;

        &:hover {
            padding: 13.5px 19px;
            border: none;
            background-image: linear-gradient(90deg, lime 60%, transparent 40%), linear-gradient(90deg, lime 60%, transparent 40%), linear-gradient(0deg, lime 60%, transparent 40%), linear-gradient(0deg, lime 60%, transparent 40%);
            background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
            background-size: 10px 2px, 10px 2.4px, 2px 10px, 2px 10px;
            background-position: left top, right bottom, left bottom, right top;
            text-shadow: 0 0 5px lime, 0 0 10px lime, 0 0 15px lime, 0 0 20px lime;
            animation: border-dance 0.3s infinite linear, glow-home-cta 0.7s ease-in-out 330ms infinite alternate;
        }

        &.home__fade-in {
            opacity: 1;
            transform: translateY(0);
        }

        @keyframes border-dance {
            0% {
                background-position: left top, right bottom, left bottom, right top;
            }
            100% {
                background-position: left 10px top, right 10px bottom , left bottom 10px , right top 10px;
            }
        }
        @keyframes glow-home-cta {
            from {
                text-shadow: 0 0 5px lime, 0 0 10px lime, 0 0 15px lime, 0 0 20px lime;
            }
            to {
                text-shadow: 0 0 10px lime, 0 0 15px lime, 0 0 20px lime, 0 0 25px lime;
            }
        }
    }
        .home-cta__arrows {
            width: 40px;
            height: 40px;
            letter-spacing: -7px;
            line-height: 38.5px;
            text-align: center;
        }
            #home-cta__left-arrows {
                // margin-right: 9px;
                margin-top: -7px;
                transform: rotate(90deg);
            }
            #home-cta__right-arrows {
                // margin-right: 5px;
                line-height: 39.1px;
                margin-bottom: -7px;
                transform: rotate(-90deg);
            }

