#contact-text {
    font-size: 19.5px;
    margin: 0 auto;
    margin-bottom: 33px;
    width: fit-content;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 600px;
    margin: 0 auto;

    input, textarea {
        padding: 0.5em;
        font-family: inherit;
        font-size: 19px;
        color: lime;
        background-color: black;
        border: 1px solid lime;
        
            &:focus {
                outline: none;
            }

            &::placeholder {
                color: lime;
                opacity: 0.8;
            }
    }
}

    #contact-form__personal-cont {
        display: flex;
        justify-content: space-between;
    }

        #contact-form__name, #contact-form__email {
            width: 45.5%;
        }

    #contact-form__message {
        resize: none;
        height: 140px;

        &::-webkit-scrollbar-track {
            background: black;
            outline: none;
            border-left: 2px dashed lime;
        }
        &::-webkit-scrollbar-thumb {
            background-color: black;
            outline: none;
            border: 2px solid lime;
            border-right: 1px solid lime;;

            &:hover {
                background-color: rgba(0, 255, 0, 0.332);
            }
        }
    }

    #contact-form__submit-cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #contact-form__submit {
        width: 115px;
        font-size: 22px;
        padding: 10px;

        background: black;
        border: none;
        color: lime;
        border: 3px dashed lime;
        font-family: inherit;

        &::before {
            content: '>>';
            position: absolute;
            font-size: 50px;
            margin-top: -1.2rem;
            margin-left: -4.6rem;
            letter-spacing: -7px;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
            transform-origin: 100% 50%;
        }

        &::after {
            content: '<<';
            position: absolute;
            font-size: 50px;
            margin-top: -1.2rem;
            margin-left: 1.6rem;
            letter-spacing: -7px;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
            transform-origin: 0% 50%;
        }

        &:hover {
            padding: 12.4px;
            border: none;
            background-image: linear-gradient(90deg, lime 60%, transparent 40%), linear-gradient(90deg, lime 60%, transparent 40%), linear-gradient(0deg, lime 60%, transparent 40%), linear-gradient(0deg, lime 60%, transparent 40%);
            background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
            background-size: 10px 3px, 10px 3px, 3px 10px, 3px 10px;
            background-position: left top, right bottom, left bottom, right top;
            animation: border-dance 0.3s infinite linear, glow 0.7s ease-in-out infinite alternate;

            &::before {
                transform: scaleX(1);
                transform-origin: 0% 50%;
            }

            &::after {
                transform: scaleX(1);
                transform-origin: 100% 50%;
            }
        }
            @keyframes border-dance {
                0% {
                    background-position: left top, right bottom, left bottom, right top;
                }
                100% {
                    background-position: left 10px top, right 10px bottom , left bottom 10px , right top 10px;
                }
            }

            @keyframes glow {
                from {
                    text-shadow: 0 0 10px lime, 0 0 20px lime, 0 0 30px lime, 0 0 40px lime, 0 0 50px lime, 0 0 60px lime, 0 0 70px lime;
                }
                to {
                    text-shadow: 0 0 30px lime, 0 0 40px lime, 0 0 50px lime, 0 0 60px lime, 0 0 70px lime, 0 0 80px lime, 0 0 90px lime;
                }
            }
    }

    #contact-form__captcha {
        width: 160px;
        height: 50px;
    }


input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { 
    transition-delay: 3600s; // Prevent autofill from changing background and text color
}