#footer {
    display: flex;
    align-items: center;
    padding: 30px 0;
    border-top: 1px solid lime;
}

    #back-to-top {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;
        margin: 0 auto;
        margin-bottom: 80px;
        line-height: 38.5px;
        transform: rotate(-90deg);
        left: 0;
        right: 0;

        background: black;
        outline: 2px dashed lime;
        border-radius: 50%;

        div {
            margin-right: 4px;
            letter-spacing: -5px;
            font-size: 26px;
            text-align: center;
            width: 100%;
            height: 100%;
        }
    }

    #footer-text {
        margin: 0 auto;
        width: fit-content;
        font-size: 18px;
    }

    #github-anchor {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 63px;
        right: 0px;
        border-radius: 50%;

        &:hover #github-icon {
            transform: scale(1.2);
        }
    }
        #github-icon {
            height: 35px;
            transition: all 0.2s;
        }

        