#footer {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid lime;
}

    #footer-text {
        margin: 0 auto;
        width: fit-content;
        font-size: 18px;
    }

    #github-icon {
        position: absolute;
        height: 35px;
        right: 14px;
    }
