body {
    font-family: monospace, 'roboto', sans-serif;
    background-color: black;
    color: lime;
    margin: 0;
}

#main-content {
    padding: 5px 20px;
}
    .section-heading {
        height: fit-content;
        width: fit-content;
        font-size: 55px;
        margin: 105px auto;
    }

/* Make font size responsive after finsihing website */